<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to Mentor Match</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Become a mentee</h5>
                    <p class="card-text">Want to take your career to the next level? Sign up to get paired with a
                        mentor.</p>
                    <a href="#" class="btn btn-primary">Find a Mentor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Become a mentor</h5>
                    <p class="card-text">Want to give back and lead someone through their career questions? Sign up to
                        become a mentor.</p>
                    <a href="#" class="btn btn-primary">Become a Mentor</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>