<%- include('partials/command_header') %>
<div class="command-content-wrapper">
    <div class="match-level">
        <h2 class="display-4">High</h2>
        <ul class="list-group shadow-sm">
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Michael Scott</h4>
                <div class="thumbnail-profile-buttons">
                    <a href="/profile-view"><button class="btn btn-outline-secondary">View Profile</button></a>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Jim Halpert</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Pam Beasley</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="match-level">
        <h2 class="display-4">Medium</h2>
        <ul class="list-group shadow-sm">
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Dwight Schrute</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Angela Martin</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Oscar Martinez</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="match-level">
        <h2 class="display-4">Low</h2>

        <ul class="list-group shadow-sm">
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Kevin Malone</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Andy Bernard</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
            <li class="list-group-item list-group-item-action">
                <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                    alt="profile picture of matched mentor">
                <h4 class="thumbnail-profile-name">Creed Braton</h4>
                <div class="thumbnail-profile-buttons">
                    <button class="btn btn-outline-secondary">View Profile</button>
                    <button class="btn btn-primary">Request</button>
                </div>
            </li>
        </ul>
    </div>


</div>




<%- include('partials/footer') %>