<%- include('partials/command_header') %>

<div class="command-content-wrapper">
    <div class="profile-section">
        <h2 class="display-4 profile-section-title">Contact Information</h2>
        <div class="section-container shadow">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Email:</th>
                        <td>jeff.jakinovich@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Phone Number:</th>
                        <td>2488359379</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="profile-section">
        <h2 class="display-4 profile-section-title">Personal Information</h2>
        <div class="section-container shadow">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Location:</th>
                        <td>Farmington Hills, MI</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <th>Division:</th>
                        <td>Corporate (C)</td>
                    </tr>
                    <tr>
                        <th>Department/Function:</th>
                        <td>CIP</td>
                    </tr>
                    <tr>
                        <th>Job Level:</th>
                        <td>E4 - Senior Associate</td>
                    </tr>
                    <tr>
                        <th>Years with Company:</th>
                        <td>5-10 years</td>
                    </tr>
                    <tr>
                        <th>Years in Current Position:</th>
                        <td>1-3 years</td>
                    </tr>
                    <tr>
                        <th>Areas for Development:</th>
                        <td>Budgeting / Cost Control<br>
                            Compliance<br>
                            Computer Skills<br>
                            Investigations<br>
                            Negotiation<br>
                            Networking<br>
                            Strategic Planning
                        </td>
                    </tr>
                    <tr>
                        <th>Languages:</th>
                        <td>English</td>
                    </tr>
                    <tr>
                        <th>Education Level:</th>
                        <td>BA/BS</td>
                    </tr>
                    <tr>
                        <th>Certifications/Memberships:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Community Service:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>LinkedIn Profile URL:</th>
                        <td>https://www.linkedin.com/in/jeff-jakinovich-b6b14943/</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="profile-section">
        <h2 class="display-4 profile-section-title">Open Ended Questions</h2>
        <div class="section-container shadow">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Why do you want to be a mentee?:</th>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta amet iusto vero at harum
                            itaque atque consequatur placeat voluptate reiciendis, illum, neque, quaerat numquam
                            quisquam velit. Tempora dolores similique unde.</td>
                    </tr>
                    <tr>
                        <th>What process would you like to use for the mentorship (email, phone, in person, etc.)?:</th>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                    </tr>
                    <tr>
                        <th>What specific goals are you looking to work on during the 6 month partnership?:</th>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eius mollitia, quam labore
                            alias eveniet nesciunt aliquam, eaque sapiente explicabo deleniti enim sed atque quibusdam
                            maiores! Deserunt voluptas dolorum assumenda.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>






<%- include('partials/footer') %>