<%- include('partials/command_header') %>

<div class="command-content-wrapper">
    <a href="/matches"><button class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Back to
            Matches</button></a>
    <div></div>
</div>

<%- include('partials/footer') %>