<%- include('partials/header') %>

<div class="container">
    <div class="profileFlex">
        <div class="profilecard">
            <h2>Jeff Jakinovich</h2>
            <img class="profilepic" src="https://picsum.photos/200" alt="profilepic">
            <!--Email variable-->
            <p class="mt-4">jeff.jakinovich@us.bosch.com</p>
            <!--phone variable-->
            <p>(248) 838-8394</p>
            <!--location variable-->
            <p>Farmington Hills, MI</p>
            <!--country variable-->
            <p>USA</p>
        </div>
        <div class="profileinfo">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Division:</th>
                        <td>Corporate (C)</td>
                    </tr>
                    <tr>
                        <th scope="row">Department Function:</th>
                        <td>Continuous Improvement (CIP)</td>
                    </tr>
                    <tr>
                        <th scope="row">Job Level:</th>
                        <td colspan="2">E4 - Sr. Level Associate</td>
                    </tr>
                    <tr>
                        <th scope="row">Years with Company:</th>
                        <td colspan="2">5-10 years</td>
                    </tr>
                    <tr>
                        <th scope="row">Years in Current Position:</th>
                        <td colspan="2">1-3 years</td>
                    </tr>
                    <tr>
                        <th scope="row">Areas of Expertise:</th>
                        <td colspan="2">
                            Advertising<br>
                            Communication<br>
                            Continuous Improvement<br>
                            Leading Self and Others<br>
                            Marketing<br>
                            Problem-solving
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Areas for Development:</th>
                        <td colspan="2">
                            Budgeting / Cost Control<br>
                            Computer Skills
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Education Level:</th>
                        <td colspan="2">BA/BS</td>
                    </tr>
                    <tr>
                        <th scope="row">Languages:</th>
                        <td colspan="2">English</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %>