<%- include('partials/register') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Register</h1>
    <p class="lead">Build relationships. Improve your skills. Share your experiences. Sign up today to join Bosch's
        mentoring program.</p>
</div>


<div class="container registerDeck">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 registerCard buttonFlex shadow">
            <div class="card-body buttonFlex">
                <i class="fas fa-search fa-5x pt-3 register-logo"></i>
                <ul class="list-unstyled mt-3 mb-4">
                    <h1 class="card-title pricing-card-title">Find a Mentor</h1>
                    <li class="second-tier-text">Want to take your career to the next level? Sign up to get paired with
                        a
                        mentor.</li>
                </ul>
                <a href="/menteeForm" style="text-decoration: none;"><button type="button"
                        class="btn btn-lg btn-block btn-primary cta-button">Sign
                        Up</button></a>
            </div>
        </div>
        <div class="card mb-4 registerCard shadow">
            <div class="card-body buttonFlex">
                <i class="far fa-handshake fa-5x pt-3 register-logo"></i>
                <ul class="list-unstyled mt-3 mb-4">
                    <h1 class="card-title pricing-card-title">Be a Mentor</h1>
                    <li class="second-tier-text">Want to give back and lead someone through their career questions? Sign
                        up
                        to become a mentor.</li>
                </ul>
                <a href="/mentorForm" style="text-decoration: none;"><button type="button"
                        class="btn btn-lg btn-block btn-primary cta-button">Sign
                        Up</button></a>
            </div>
        </div>
        <div class="card mb-4 registerCard shadow">
            <div class="card-body buttonFlex">
                <i class="far fa-thumbs-up fa-5x pt-3 register-logo"></i>
                <ul class="list-unstyled mt-3 mb-4">
                    <h1 class="card-title pricing-card-title">Do Both!</h1>
                    <li class="second-tier-text">Get the best of both worlds. Advance your career and give back at the
                        same
                        time.</li>
                </ul>
                <a href="/combinedForm" style="text-decoration: none;"><button type="button"
                        class="btn btn-lg btn-block btn-primary cta-button-optional">Sign
                        Up</button></a>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>