extends layout

block content
    .container
        h1.display-3.text-center Resources
        p.lead.text-center Use these resources to help ensure your mentorship partnership is a success.

        .resources-container

            a.program-card.resources-card.shadow-sm(href="https://connect.bosch.com/communities/service/html/communitystart?communityUuid=a1cdeb5f-792d-4995-9072-5763194c5269")
                h5
                    span
                    i.fas.fa-people-carry
                    | RBNA Mentoring Program
                p Check out the RBNA Mentoring Bosch Connect community for helpful resources and links.

            a.coaching-card.resources-card.shadow-sm(href="https://connect.bosch.com/wikis/home?lang=en-us#!/wiki/Wbd57336a8751_41e8_a95e_8e14b42989f7/page/Resources")
                h5
                    span
                    i.fas.fa-hands-helping
                    | Coaching and Mentoring Resources
                p Find some helpful resources to improve your coaching and mentoring sessions.