extends layout

block content
    .container
        h4.display-4.page-title Results
        p.lead No results found. Please try again.
        input.btn.btn-primary.mt-3(type="button" value="Try Again" onclick="history.back(-1)")