<%- include('partials/command_header') %>

<div class="no-results-wrapper">
    <div class="no-results-content">
        <h4 class="display-4">No results found. Please try again.</h4>
        <input type="button" class="btn btn-primary mt-3" value="Try Again" onclick="history.back(-1)" />
    </div>
</div>

<%- include('partials/footer') %>