extends layout

block content
    .container
        h4.display-4.page-title Results
        p.lead No results found. Please try again.
        a.btn.btn-primary.mt-3(href="/search") Try Again
        //- a.btn.btn-primary.mt-3(href="/search" type="button" value="Try Again" onclick="history.back(-1)")