extends layout

block content
    .no-results-wrapper
        no-results-content
            h4.display-4 No results found. Please try again.
            input.btn.btn-primary.mt-3(type="button" value="Try Again" onclick="history.back(-1)")