extends layout

block content
    .container
        h1.display-3.text-center Welcome, #{user.firstName}

        .welcome-container

            a.manage-requests-card.welcome-card.shadow-sm(href="/requests")
                h5
                    span
                    i.fas.fa-tasks
                    | Manage Requests
                p You are able to manage all of your requests in one place. If you are a Mentee, you can see the status of your requests, and Mentors will be able to sort through their requests in order to accept or decline their requests.

            a.top-matches-card.welcome-card.shadow-sm(href="/top-matches")
                h5
                    span
                    i.fas.fa-award
                    | Top Matches
                p See your top matches for who could be a good mentor or mentee based on your profile information.

            a.search-card.welcome-card.shadow-sm(href="/search")
                h5
                    span
                    i.fas.fa-search
                    | Search
                p Do a simple name search or use the advanced criteria to search for other users based on your specific interests and needs.

            a.questions-card.welcome-card.shadow-sm(href="mailto:jeff.jakinovich@us.bosch.com")
                h5
                    span
                    i.far.fa-question-circle
                    | Questions
                p If you ever have any questions or feedback regarding your experience, please do not hesitate to reach out.