/* * {
  border: red 1px solid;
}

* * {
  border: blue 1px solid;
}

* * * {
  border: green 1px solid;
}

* * * * {
  border: purple 1px solid;
}

* * * * * {
  border: salmon 1px solid;
}

* * * * * * {
  border: teal 1px solid;
}

* * * * * * * {
  border: orange 1px solid;
}

* * * * * * * * {
  border: lightcoral 1px solid;
}

* * * * * * * * * {
  border: maroon 1px solid;
} */

/* ========== General selectors ========== */
::root {
  font-size: 16px;
}

body {
  background: #f5f5f5;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}

.container {
  margin-top: 1.5rem;
}

.second-tier-text {
  color: #999;
}

.second-tier-header {
  color: #b5b5b5;
}

.cta-button {
  background-color: #008ecf;
  border: #008ecf 1px solid;
}

.cta-button:hover {
  background-color: #00a7f5;
  border: #00a7f5 1px solid;
}

.cta-button-optional {
  background: none;
  color: #008ecf;
}

.cta-button-optional:hover {
  background-color: #008ecf;
  border: #008ecf 1px solid;
  color: #fff;
}

/* ========== Home route ========== */
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-jumbo {
  display: flex;
}

.jumbotron {
  background: #fff;
  text-align: center;
}

.startingButtons {
  display: inline-block;
  margin: 0px 0.3rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h3 {
  font-size: 1.8rem;
  margin-bottom: -0.5rem;
}

.hero-content p {
  margin: -1rem 0 3rem 0;
}

.hero-img {
  width: 50%;
}

/* ========== Register route ========== */
.page-wrap {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  height: 100vh;
  justify-content: center;
}

.lead-text {
  margin-bottom: -1rem;
  text-align: center;
}

.register-deck {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
}

.register-card {
  border-radius: 1%;
  height: 23rem;
}

.buttonFlex {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.register-logo {
  color: #008ecf;
}

/* ========== Login route ========== */
.login-page {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
}

.form-signin {
  background: #fff;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-img {
  align-self: center;
  height: auto;
  margin: 2rem 2rem;
  width: 15rem;
}

.login-info {
  margin: 1rem 2rem;
}

.login-button {
  align-self: flex-end;
  margin: 2rem 2rem;
  width: 25%;
}

.login-button:hover {
  background-color: #00a7f5;
  border: #00a7f5 1px solid;
}

/* ========== Forms ========== */
.form-header {
  margin-bottom: 2rem;
  text-align: center;
}

.info-section {
  background: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.info-section-header {
  margin-bottom: 1.5rem;
}

.required {
  color: red;
}

/* =========================================================== */
/* ========== Command Center ========== */

/* PERSONAL INFO */
.profile-section {
  margin-bottom: 3.5rem;
}

.profile-section-title {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}

.section-container {
  background: #fff;
  border-radius: 1%;
}

/* PROFILE VIEW */
.profile-view-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header "
    "personal"
    "answer";
  row-gap: 2rem;
}

.contact-card {
  background: #fff;
  display: flex;
  grid-area: header;
  margin-top: 1.5rem;
  padding: 2rem;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
  text-align: left;
}

.profile-picture {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.profile-view-buttons {
  margin-left: auto;
}

.contact-card h2 {
  display: flex;
  font-size: 3rem;
}

.badge {
  font-size: 0.7rem;
  margin-left: 0.6rem;
  vertical-align: top;
}

.contact-card h4 {
  font-size: 1.3rem;
}

.personal-card {
  background: #fff;
  grid-area: personal;
  padding: 2rem;
}

.open-card {
  background: #fff;
  grid-area: answer;
  padding: 2rem;
  margin-bottom: 2rem;
}

/* MATCHES */
.match-level {
  margin-bottom: 2rem;
}

.match-level h2 {
  font-size: 2.75rem;
  margin-left: 1rem;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.thumbnail-profile-pic {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: 0;
}

.thumbnail-profile-name {
  flex: 5;
  margin: 0;
  padding-left: 2rem;
}

.thumbnail-profile-buttons {
  display: flex;
  margin: 0;
}

.thumbnail-profile-buttons form {
  margin-left: 1rem;
}

/* SEARCH */

/* SEARCH RESULTS */

.no-results-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.no-results-content {
  text-align: center;
}

/* REQUESTS */

.category-header {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.name-and-date {
  display: flex;
  flex: 5;
  flex-direction: column;
  padding: 0;
}

.thumbnail-profile-date {
  margin: 0.2rem 0 0 0;
  padding-left: 2rem;
}

.no-results {
  font-weight: lighter;
  margin: 1rem 0 2rem 0;
}

/* TOASTS */
