<%- include('partials/login_register') %>

<div class="container home">
    <div class="jumbotron hero-jumbo shadow">
        <div class="hero-content">
            <h3 class="display-4 second-tier-header">Welcome to</h3>
            <h1 class="display-3 mb-4">Mentor Match</h1>
            <p class="lead second-tier-text">Build relationships. Improve skills. Share your experiences. Sign up today
                to join Bosch's
                mentoring program.</p>
            <div>
                <p class="startingButtons"><a class="btn btn-outline-primary btn-lg cta-button-optional"
                        href="/register" role="button">Register</a>
                </p>
                <p class="startingButtons"><a class="btn btn-primary btn-lg cta-button ml-2" href="/login"
                        role="button">Login</a></p>
            </div>
        </div>
        <img class="hero-img" src="assets/mentor_chat.png" alt="mentor image">

    </div>
</div>

<%- include('partials/footer') %>