<%- include('partials/login') %>

<div class="container login-page">
    <form action="/login" method="POST" class="form-signin shadow">
        <img class="mb-4 login-img" src="assets/mentor_match.png" alt="mentor match logo" />
        <div class="form-group login-info">
            <label for="username">Email</label>
            <input type="email" id="username" name="username" class="form-control mb-3" required autofocus>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary login-button cta-button">Login</button>
    </form>
</div>

<%- include('partials/footer') %>